{% extends "base.html" %} {% load crispy_forms_tags %} {% load static %} {% block content %}
<header class="masthead text-center " >

    <div class="masthead-content">
        <div class="container">
            <!-- .......................................Dashboard.............................. -->
            <h1 class="masthead-subheading mb-0" style="color: white;">Events dashboard</h1>
            <button type="button" class="btn btn-outline-dark btn-lg">
                <a style="color: white; " href="{% url 'events-create'%}" role="button">Create an event</a>
            </button>

            <br>
            <br>
            <br>
            <br>
            <br>

            <div class="card border-dark mb-3" style="max-width: 2500px ;border :solid">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{% static 'img/wp-Musical.jpg'%}" class="card-img " style="float:left" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Musical event:</h3> {% for event in events %} {% if event.event_type == "Musical" %}
                            <a href="{% url 'event-detail' event.id %}" class="btn btn-outline-dark">
                                <h1 class="card-title">{{event.title}}<small>  {{event.date}}</small>
                            </h1></a>

                            {% endif %}
                            <br> {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- ......................................................................... -->

            <div class="card border-dark mb-3 " style="max-width: 2500px ; border :solid">
                <div class="row no-gutters ">

                    <!-- <span class="border border-dark solid"> -->
                    <div class="col-md-8 ">
                        <div class="card-body">
                            <h3 class="card-title">Comedy events:</h3> {% for event in events %} {% if event.event_type == "Comedy" %}
                            <a href="{% url 'event-detail' event.id %}" class="btn btn-outline-dark">
                                <h1 class="card-title">{{event.title}}<small>  {{event.date}}</small>
                    </h1></a>
                              <br> <br>
                            {% endif %}
                           {% endfor %}
                            <!-- <p class="card-text" style="color=black">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="{% static 'img/wp-Comedy.jpg'%}" class="card-img " style="float:left " alt="...">
                    </div>
                </div>
            </div>
            <!-- </span> -->

            <!-- ....................................................................... -->

            <div class="card border-dark mb-3" style="max-width: 2500px ;border :solid">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{% static 'img/wp-Educational.jpg'%}" class="card-img " style="float:left" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Educational events:</h3> {% for event in events %} {% if event.event_type == "Educational" %}
                            <a href="{% url 'event-detail' event.id %}" class="btn btn-outline-dark">
                                <h1 class="card-title">{{event.title}}<small>  {{event.date}}</small>
                  </h1></a>

                            <br><br> {% endif %} {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- ....................................User organized events ........................... -->
            

        </div>
    </div>

    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>

</header>
{% endblock %}
