{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<header class="masthead text-center " style="background-color:#CCCCCC	;" >
  <style>
    body {

    background: url("{% static 'img/wp-music.jpg'%}")no-repeat center center fixed ;
    background-size: cover
  }
  </style>
  <div class="masthead-content">
    <div class="container">
      <!-- .......................................Dashboard.............................. -->
      <h1 class="masthead-subheading mb-0" style="color: white;">Events dashboard</h1>
      <button type="button" class="btn btn-outline-dark btn-lg">
          <a style="color: white; " href="{% url 'events-create'%}" role="button">Create an event</a>
      </button>

      <br><br>
                <div class="card border-dark mb-3" style="max-width: 2500px ;border :solid">
                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <img src="{% static 'img/wp-Musical.jpg'%}" class="card-img " style="float:left" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        {% for event in events %}

                        {% if event.event_type == "Musical" %}
                          <a href="{% url 'event-detail' event.id %}" class="btn btn-outline-dark">
                            <h1 class="card-title">{{event.title}}<small>  {{event.date}}</small>
                            </h1></a>


                            {% endif %}
                            <br>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
      <!-- ......................................................................... -->

      <div class="card border-dark mb-3 " style="max-width: 2500px ; border :solid">
        <div class="row no-gutters ">

      <!-- <span class="border border-dark solid"> -->
          <div class="col-md-8 ">
            <div class="card-body">
              <h5 class="card-title">Event Comedy</h5>
                {% for event in events %}

                {% if event.event_type == "Comedy" %}
                  <a href="{% url 'event-detail' event.id %}" class="btn btn-outline-dark">
                    <h1 class="card-title">{{event.title}}<small>  {{event.date}}</small>
                    </h1></a>


                    {% endif %}
                    <br>

                {% endfor %}
              <!-- <p class="card-text" style="color=black">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
          <div class="col-md-4">
            <img src="{% static 'img/wp-Comedy.jpg'%}" class="card-img " style="float:left " alt="...">
          </div>
        </div>
      </div>
      <!-- </span> -->




      <!-- ....................................................................... -->

      <div class="card border-dark mb-3" style="max-width: 2500px ;border :solid">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{% static 'img/wp-Educational.jpg'%}" class="card-img " style="float:left" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              {% for event in events %}

              {% if event.event_type == "Educational" %}
                <a href="{% url 'event-detail' event.id %}" class="btn btn-outline-dark">
                  <h1 class="card-title">{{event.title}}<small>  {{event.date}}</small>
                  </h1></a>

                  <br>
                  {% endif %}


              {% endfor %}
            </div>
          </div>
        </div>
      </div>
<!-- ....................................User organized events ........................... -->
<h2 class="masthead-subheading mb-0" style="color: white;">Events I organized</h2>
<div class="card-body">
  {% for event in events %}
  {%if request.user == event.organizer%}

    <a href="{% url 'event-detail' event.id %}" class="btn btn-outline-dark"><h1 class="card-title">{{event.title}}  <h4>{{event.date}}</h4></h1></a>

      {%endif%}
  {% endfor %}
</div>
<button type="button" class="btn btn-danger btn-lg">
    <a style="color: white; " href="{% url 'events-create'%}" role="button">Create an event</a>
</button>






<!-- ..................................................All Upcomig events ................... -->
          <!-- <h3 class="masthead-subheading mb-0" style="color: white;">Upcomig Events</h3> -->
          <div class="card-body">
            <!-- {% for event in events %}
            {%if not request.user == event.organizer%}
              <a href="{% url 'event-detail' event.id %}" class="btn btn-outline-dark"><h1 class="card-title">{{event.title}}  <h6>{{event.date}}</h6></h1></a>
                <br><br>
                {%endif%}
            {% endfor %} -->
            <!-- ..........................................Events I attining................. -->
            <h3 class="masthead-subheading mb-0" style="color: white;">Events I'm attending</h3>
            {%for event in future %}
            <a href="{% url 'event-detail' event.event.id %}" class="btn btn-outline-dark"><h1 class="card-title">{{event.event.title}}  <h6>{{event.event.date}}</h6></h1></a>
            {% endfor %}



<!-- ..........................................Events I attinded................. -->
            <br><br>
            <h3 class="masthead-subheading mb-0" style="color: white;">Events I attended</h3>
            {% for event in passed %}
              <a href="{% url 'event-detail' event.event.id %}" class="btn btn-outline-dark"><h1 class="card-title">{{event.title}}  <h6>{{event.date}}</h6></h1></a>
                <br><br>
            {% endfor %}
          </div>


















      </div>
    </div>















  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>




</header>
{% endblock %}
