

{% extends "base.html" %} {% load crispy_forms_tags %} {% load static %} {% block content %}

<header class="masthead text-center "  >
  <h1 class="masthead-subheading mb-10" style="color: white;">{{request.user}}'s profile</h1>

    <div class="masthead-content">
        <div class="container">
          <br><br>

            <!-- .......................................Dashboard.............................. -->

            <!-- ....................................User organized events ........................... -->
            <div class="card">
  <div class="card-header">
  <small><h6 class="masthead-subheading mb-10 mt-10" >Events I organized</h6></small>
</div>

            <div class="card-body"style="background-color:rgba(236, 213, 228, 1);">
                {% for event in events %} {%if request.user == event.organizer%}

                <a href="{% url 'event-detail' event.id %}" class="btn btn-outline-dark"><h1 class="card-title">{{event.title}} </h1></a> {%endif%} {% endfor %}
          </div>
        </div>

            <!-- ..................................................All Upcomig events ................... -->
            <!-- <h3 class="masthead-subheading mb-0" style="color: white;">Upcomig Events</h3> -->
                <!-- {% for event in events %}
            {%if not request.user == event.organizer%}
              <a href="{% url 'event-detail' event.id %}" class="btn btn-outline-wight"><h1 class="card-title">{{event.title}}  <h6>{{event.date}}</h6></h1></a>
                <br><br>
                {%endif%}
            {% endfor %} -->
                <!-- ..........................................Events I attining................. -->
            <br><br>
            <div class="card">

            <div class="card-header">
            <small>              <h3 class="masthead-subheading mb-0" ">Events I'm attending</h3>
</small>
          </div>
          <div class="card-body"style="background-color:rgba(236, 213, 228, 1);">

              {%for event in future %}
                <a href="{% url 'event-detail' event.event.id %}" class="btn btn-outline-dark"><h1 class="card-title">{{event.event.title}}  </h1></a> {% endfor %}
              </div>

  </div>
                <!-- ..........................................Events I attinded................. -->
                <br>
                <br>
                <br><br>
                <div class="card">

                <div class="card-header">
                <small>              <h3 class="masthead-subheading mb-0">Events I attended</h3>
    </small>
  </div>
  <div class="card-body"style="background-color:rgba(236, 213, 228, 1);">

               {% for event in passed %}
                <a href="{% url 'event-detail' event.event.id %}" class="btn btn-outline-dark"><h1 class="card-title">{{event.event.title}}  </h1></a>
                <br>
                <br> {% endfor %}
              </div>

            </div>

        </div>
    </div>


</header>
{% endblock %}
